.App {
  text-align: center;
}

.App-logo {
  width: 35vh;
  pointer-events: none;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-input {
    width: 60vw;
    height: 30px;
    margin-top: 40px;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 1vh 1vw;
}
